.l-content {
  text-align: center;
  margin: 0 0 em(0) 0;
  overflow: auto;
  > .container:not(.index):not(.results-page) {
    min-height: 80vh;
  }
}

//Front Page Reduction

.index {

  overflow-x: hidden;

  h2 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    @media screen and (max-height: em($small-screen-up)) {
      margin-top: 0 !important;

    }
  }

  @media screen and (max-height: em($small-screen-up)) {
    font-size: 75%;
    .info-content {
      font-size: 1.25em !important;
    }
    .info-header-index {
      font-size: 1.25em !important;
    }
  }



}

