.home-page {
  @media screen and (max-height: em($small-screen-up)) {
    font-size: 75% !important;
  }
}

.l-header {

  font-size: 100%;
  @media screen and (max-height: em($small-screen-up)) {
    .info-content {
      font-size: 1.25em !important;
    }
    .info-header {
      font-size: 1.25em !important;
    }
    .home-page {
      padding: 0 0 1.25em 0 !important;
    }

  }

  background: url("../img/background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 7;
  padding: em(10) em(30) em(40) em(30);
  color: white;
  text-align: center;

  & + .post-header {
    position: relative;
    z-index: 8;
    .tail {
      position: absolute;
      top: em(-75);
      width: 100%;
      height: em(47);
      text-align: center;
      margin: 0 !important;
      .white {
        display: none;
      }
      .notch {
        height: 100%;
        width: 100%;
        background: url("../img/tail.png");
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  .logo {
    margin: 0 0 1em 0;
    width: em(150);
  }
  .solo {
    padding: 0 0 em(20) 0;
    .logo {
      margin: 0 em(5) 0 0;
      width: em(20);
    }
    p {
      color: white;
      font-weight: 400;
      font-size: em(24);
      margin: 0 em(10) 0 0;
    }
  }

  .home-page {
    padding: 0 0 em(40) 0;
    .logo {
      width: em(32);
      margin: 0;
    }
    h1 {
      font-weight: 100;
      margin: 0;
    }
  }

}
.logo-header {

  width: em(100);
  margin-bottom:10px;
}