/* ===========================
   Base
   =========================== */

html, body {
    overflow-x: hidden;
}

body {
    font-family: $base-font-family;
    font-weight: 300;
    font-size: $base-font-size;
    line-height: 1.5;
    color: $base-font-color;
    margin-bottom: 70px; // stick footer
}

a {
    color: black;
    font-weight: 500;

    &:hover {
        color: black;
    }
}

::-moz-selection {
    background: black;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: black;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
