@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,600,700);
/* ===========================
   Work Positive Master SASS File
   Includes all the separate SASS files from the SMACSS file folder structure
   =========================== */
/* Default Settings */
/*
	Darken method has problems when you add the tint method to it
	this has a issue on github and has not been solved yet.
	This however works with a static color as below.
	https                   ://github.com/sass/libsass/issues/726
*/
/* Tools */
/* Layout */
@media screen and (max-height: 48.0625em) {
  .home-page {
    font-size: 75% !important; } }

.l-header {
  font-size: 100%;
  background: url("../img/background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 7;
  padding: 0.625em 1.875em 2.5em 1.875em;
  color: white;
  text-align: center; }
  @media screen and (max-height: 48.0625em) {
    .l-header .info-content {
      font-size: 1.25em !important; }
    .l-header .info-header {
      font-size: 1.25em !important; }
    .l-header .home-page {
      padding: 0 0 1.25em 0 !important; } }
  .l-header + .post-header {
    position: relative;
    z-index: 8; }
    .l-header + .post-header .tail {
      position: absolute;
      top: -4.6875em;
      width: 100%;
      height: 2.9375em;
      text-align: center;
      margin: 0 !important; }
      .l-header + .post-header .tail .white {
        display: none; }
      .l-header + .post-header .tail .notch {
        height: 100%;
        width: 100%;
        background: url("../img/tail.png");
        background-position: center center;
        background-repeat: no-repeat; }
  .l-header .logo {
    margin: 0 0 1em 0;
    width: 9.375em; }
  .l-header .solo {
    padding: 0 0 1.25em 0; }
    .l-header .solo .logo {
      margin: 0 0.3125em 0 0;
      width: 1.25em; }
    .l-header .solo p {
      color: white;
      font-weight: 400;
      font-size: 1.5em;
      margin: 0 0.625em 0 0; }
  .l-header .home-page {
    padding: 0 0 2.5em 0; }
    .l-header .home-page .logo {
      width: 2em;
      margin: 0; }
    .l-header .home-page h1 {
      font-weight: 100;
      margin: 0; }

.logo-header {
  width: 6.25em;
  margin-bottom: 10px; }

.l-content {
  text-align: center;
  margin: 0 0 0em 0;
  overflow: auto; }
  .l-content > .container:not(.index):not(.results-page) {
    min-height: 80vh; }

.index {
  overflow-x: hidden; }
  .index h2 {
    margin-top: 0.6em;
    margin-bottom: 0.6em; }
    @media screen and (max-height: 48.0625em) {
      .index h2 {
        margin-top: 0 !important; } }
  @media screen and (max-height: 48.0625em) {
    .index {
      font-size: 75%; }
      .index .info-content {
        font-size: 1.25em !important; }
      .index .info-header-index {
        font-size: 1.25em !important; } }

.l-footer {
  padding: 1.25em;
  margin: 0;
  color: #333 !important; }
  .l-footer .logo.logo-footer {
    width: 6.25em;
    position: relative;
    top: -3px; }

.navbar-default {
  background-color: white;
  border-top: 2px solid #DDD; }

#web-links {
  padding: 0; }
  #web-links a {
    line-height: 2.067;
    font-weight: 300;
    font-size: 80%;
    color: #333 !important; }

.error-page {
  min-height: 80vh; }

/* Modules */
.card {
  margin: 0.625em 0; }
  .card label {
    position: relative;
    width: 100%;
    color: #F7941E;
    background: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 0px lightgray;
    -moz-box-shadow: 0px 0px 15px 0px lightgray;
    -o-box-shadow: 0px 0px 15px 0px lightgray;
    box-shadow: 0px 0px 15px 0px lightgray;
    border-radius: 0.9375em; }
    .card label p {
      font-size: 1.25em;
      font-weight: 400;
      margin: 0;
      padding: 2.1875em 0; }
      @media screen and (max-width: 74.9375em) {
        .card label p {
          padding: 2.0625em 0;
          font-size: 1.625em !important; } }
      @media screen and (max-width: 62em) {
        .card label p {
          padding: 1.875em 0;
          font-size: 1.25em !important; } }
    .card label img {
      opacity: 0;
      position: absolute;
      top: 0em;
      left: 0.3125em;
      padding: 0.3125em 0;
      width: 2.5em; }
      @media screen and (max-width: 74.9375em) {
        .card label img {
          width: 3.75em;
          top: 0em;
          left: 0.1875em; } }
      @media screen and (max-width: 61.9375em) {
        .card label img {
          width: 2.5em;
          top: 0em;
          left: 0.3125em; } }
  .card input {
    display: none; }
  .card input:checked + label {
    -webkit-box-shadow: 0px 0px 15px 0px #e7a61a;
    -moz-box-shadow: 0px 0px 15px 0px #e7a61a;
    -o-box-shadow: 0px 0px 15px 0px #e7a61a;
    box-shadow: 0px 0px 15px 0px #e7a61a; }
    .card input:checked + label img {
      opacity: 1; }
  .card.result {
    margin: 0 0 -3.125em 0; }
    .card.result p {
      font-size: 1.875em;
      padding: 2.1875em 0; }
      @media screen and (max-width: 74.9375em) {
        .card.result p {
          padding: 2.0625em 0;
          font-size: 1.625em !important; } }
      @media screen and (max-width: 62em) {
        .card.result p {
          padding: 2.0625em 0;
          font-size: 1.25em !important; } }
    .card.result img {
      opacity: 1;
      width: 4.375em; }
      @media screen and (max-width: 74.9375em) {
        .card.result img {
          width: 3.75em; } }
      @media screen and (max-width: 62em) {
        .card.result img {
          width: 2.5em; } }
  .card.image label {
    border: none !important;
    border-radius: 0; }
    .card.image label img {
      width: 100%;
      display: block;
      border-radius: 0.625em; }
  .card.image input:checked + label {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }
  .card.context label {
    width: 100%;
    text-align: center;
    color: #F7941E;
    background: white;
    -webkit-box-shadow: 0px 0px 15px 0px lightgray;
    -moz-box-shadow: 0px 0px 15px 0px lightgray;
    -o-box-shadow: 0px 0px 15px 0px lightgray;
    box-shadow: 0px 0px 15px 0px lightgray;
    border-radius: 1.25em; }
    .card.context label p {
      padding: 1.875em 0 1.875em 0; }

.card-row {
  margin: 2.5em 0 3.75em 0; }
  @media screen and (max-height: 48.0625em) {
    .card-row {
      margin: 0; } }

html.results {
  height: 100%; }
  html.results body {
    height: 100%; }
  html.results .wrap {
    min-height: 100%;
    position: relative; }
  html.results .l-content {
    padding-bottom: 4.375em; }
  html.results .l-footer {
    height: 4.375em;
    position: absolute;
    bottom: 0;
    width: 100%; }

.results-slider {
  display: block;
  width: 100%; }
  .results-slider .slide {
    margin: auto;
    display: block;
    width: 100% !important;
    overflow: hidden; }
    .results-slider .slide > .row {
      margin: 1.25em; }
    .results-slider .slide h2 {
      margin: 0; }
    .results-slider .slide ul {
      list-style: disk;
      margin: 0.625em 0; }
      .results-slider .slide ul li {
        padding: 0.3125em 0; }
  .results-slider .arrows {
    position: relative; }
    .results-slider .arrows .arrow {
      padding: 0.0625em;
      width: 1.75em;
      position: absolute;
      top: 15.625em;
      z-index: 999;
      color: #CCC;
      background-color: rgba(170, 170, 170, 0.8);
      font-size: 1.5em;
      border-radius: 1.875em; }
      .results-slider .arrows .arrow.arrow-left {
        left: 1.25em; }
        .results-slider .arrows .arrow.arrow-left:before {
          color: white;
          font-family: 'Glyphicons Halflings';
          content: "\e079";
          font-weight: 100; }
      .results-slider .arrows .arrow.arrow-right {
        right: 1.25em; }
        .results-slider .arrows .arrow.arrow-right:before {
          color: white;
          font-family: 'Glyphicons Halflings';
          content: "\e080";
          font-weight: 100; }
  .results-slider #shop {
    margin-top: 20px; }
  .results-slider #shopbtn {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-top: 50px; }
  .results-slider #get-in-touch {
    margin-top: 50px; }
  .results-slider #social-links {
    margin-top: 20px; }
    @media screen and (max-width: 48em) {
      .results-slider #social-links {
        font-size: 0.6875em; } }
    .results-slider #social-links a {
      color: inherit; }
  .results-slider #mail-icon {
    width: 50px;
    height: 40px; }
  .results-slider #twitter-icon {
    width: 50px;
    height: 40px; }
  .results-slider #atmybestinfo {
    margin-top: 50px; }
  .results-slider #result-note {
    text-align: left; }
  .results-slider #result-stacked-cards {
    padding-bottom: 100px; }

.cloud-holder {
  position: relative;
  margin: 0 0 12.5em 0; }
  .cloud-holder .background {
    position: relative;
    opacity: 0.5;
    width: 100%; }
  .cloud-holder .cloud {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }

.conference .cloud-holder {
  height: 100vh; }
  .conference .cloud-holder .cloud {
    height: 100vh; }

.btn-orange {
  text-transform: uppercase;
  background-color: #F7941E;
  color: white; }
  .btn-orange:active, .btn-orange:focus {
    background-color: black;
    color: #F7941E; }

#sticky-nav {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 4.375em;
  padding-top: 0.9375em;
  margin: 0 !important;
  overflow-x: hidden;
  background-color: #FFF;
  border-top: 1px solid #DDD; }

.shortlist {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0 !important; }
  .shortlist > h3 {
    margin: 0;
    padding: 0 0.9375em;
    color: white; }
  .shortlist .cards {
    width: 187.5em;
    overflow-x: hidden;
    margin: 0 0.625em; }
  .shortlist .counter {
    color: white;
    text-align: center;
    margin: 0.3125em 0; }
    .shortlist .counter img {
      width: 1.25em; }
    .shortlist .counter .count {
      font-weight: bold; }
  .shortlist .card {
    box-shadow: none !important; }

.fixed-elements {
  overflow: initial; }

.modal .modal-header {
  padding: 0.3125em !important;
  border: 0; }
  .modal .modal-header button span {
    color: orange;
    font-size: 25px;
    font-weight: bold; }
.modal .modal-footer {
  border: 0;
  text-align: center; }
.modal .modal-body {
  text-align: center; }
  .modal .modal-body .lead {
    margin-bottom: 0; }
.modal .modal-content {
  border-radius: 0.9375em !important; }
.modal .modal-next-context {
  background-color: orange;
  color: white;
  padding-right: 2.5em;
  padding-left: 2.5em; }
.modal .modal-dialog {
  max-width: 50em !important; }
  @media screen and (max-width: 74.9375em) {
    .modal .modal-dialog {
      max-width: 43.75em !important; } }
.modal .btn-modal {
  border-radius: 0 0 0.625em 0.625em !important; }

.browser-notice {
  height: 120vh;
  width: 100vw;
  z-index: 99999;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  padding: 12.5em 0 0 0;
  color: white;
  text-align: center;
  background-image: url('../img/circles.jpg');
  background-size: cover; }
  @media screen and (max-width: 47.9375em) {
    .browser-notice {
      display: block; } }

.preloader {
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  background: white; }
  .preloader .spinner {
    margin: 30% auto;
    display: block; }

.spinner {
  animation: rotation 1.8s linear infinite; }

.path {
  stroke: #ff9900;
  border-color: #ff9900;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  animation: dash 3.2s ease infinite; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
    stroke: #ff9900; }

  25% {
    stroke-dashoffset: -187;
    stroke: #ff9900; }

  50% {
    stroke-dashoffset: -374;
    stroke: #ff9900; }

  75% {
    stroke-dashoffset: -561;
    stroke: #ff9900; }

  100% {
    stroke-dashoffset: -748;
    stroke: #ff9900; } }

.progress-holder {
  position: relative;
  margin: 1.25em 0 0 0;
  border-bottom: 0.125em solid #DDD; }
  .progress-holder .circle {
    width: 2.6875em;
    height: 2.6875em;
    padding: 0.5em;
    position: absolute;
    bottom: -1.3125em;
    display: inline-block;
    color: #DDD;
    background: white;
    border-radius: 2.5em;
    border: 0.125em dashed #DDD; }
    .progress-holder .circle:nth-child(0) {
      left: 0%; }
    .progress-holder .circle:nth-child(1) {
      left: 11.5%; }
    .progress-holder .circle:nth-child(2) {
      left: 23%; }
    .progress-holder .circle:nth-child(3) {
      left: 34.5%; }
    .progress-holder .circle:nth-child(4) {
      left: 46%; }
    .progress-holder .circle:nth-child(5) {
      left: 57.5%; }
    .progress-holder .circle:nth-child(6) {
      left: 69%; }
    .progress-holder .circle:nth-child(7) {
      left: 80.5%; }
    .progress-holder .circle.complete {
      color: white;
      background: #DDD;
      border-color: #DDD; }
    .progress-holder .circle.active {
      color: white;
      background: #F7941E;
      border-color: #F7941E; }

.card.sortable {
  position: relative;
  z-index: 9999 !important;
  float: left;
  text-align: center;
  color: #F7941E;
  width: 10.625em;
  margin: 0.625em;
  background: white;
  -webkit-box-shadow: 0px 0px 15px 0px lightgray;
  -moz-box-shadow: 0px 0px 15px 0px lightgray;
  -o-box-shadow: 0px 0px 15px 0px lightgray;
  box-shadow: 0px 0px 15px 0px lightgray;
  border-radius: 0.9375em; }
  .card.sortable p {
    cursor: move;
    padding: 2.1875em 0;
    margin: 0;
    font-size: 1.25em;
    font-weight: 400; }
  .card.sortable img {
    position: absolute;
    opacity: 1;
    top: 0.1875em;
    left: 0.25em;
    width: 2.8125em; }

.droppable .card {
  z-index: 1 !important;
  width: 100%;
  margin: 0 0 -3.125em 0; }
  @media screen and (max-width: 62em) {
    .droppable .card {
      margin: 0 0 -1.875em 0; } }
  .droppable .card p {
    font-size: 2.125em;
    padding: 1.875em 0; }
    @media screen and (max-width: 74.9375em) {
      .droppable .card p {
        padding: 1.875em 0;
        font-size: 1.75em !important; } }
    @media screen and (max-width: 62em) {
      .droppable .card p {
        padding: 1.875em 0;
        font-size: 1.125em !important; } }
  .droppable .card img {
    width: 4.375em; }
    @media screen and (max-width: 74.9375em) {
      .droppable .card img {
        width: 3.125em; } }
    @media screen and (max-width: 62em) {
      .droppable .card img {
        width: 1.875em; } }

.impact {
  border: 1px solid #DDD;
  border-radius: 0.625em;
  padding-bottom: 5em; }
  .impact .impact-title {
    color: #F7941E;
    margin: 0.3125em 0 0 0;
    font-size: 1.875em;
    font-weight: 300;
    text-align: center; }
  .impact .droppable {
    height: auto;
    min-height: 50vh;
    padding: 1.875em; }
    @media screen and (min-width: 74.9375em) {
      .impact .droppable .card img {
        width: 3em !important;
        left: 0.1em !important; }
      .impact .droppable .card p {
        font-size: 1.5em !important;
        padding: 2em 0 !important; } }
    .impact .droppable .ui-sortable-placeholder {
      width: 100%;
      visibility: visible !important;
      border: 0.125em dashed #DDD;
      border-radius: 0.625em;
      height: 8.75em; }
      @media screen and (max-width: 48em) {
        .impact .droppable .ui-sortable-placeholder {
          height: 6.25em; } }
      .impact .droppable .ui-sortable-placeholder .ui-draggable-dragging:not(.ui-sortable-placeholder) {
        z-index: 99 !important; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.top15 {
  margin-top: 15px; }

.info {
  cursor: pointer;
  color: #AAA;
  padding: 0.25em 0;
  font-weight: 100;
  border-bottom: 0.0625em dotted #AAA; }
  .info:active, .info:focus {
    color: #AAA; }
  .info.collapsed {
    color: #ff9900; }
  .info.info-header {
    color: white; }
    .info.info-header.collapsed {
      color: white; }
  .info:before {
    font-family: 'icomoon';
    content: '\e600'; }

.info-content {
  text-align: left;
  padding: 1.875em;
  margin: 1.25em;
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  background: #EFF;
  border-radius: 0.625em;
  border: 0.0625em solid #DDD;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc; }
  .info-content.info-header {
    background: none;
    border: 0.0625em solid #AAA;
    box-shadow: none; }
    .info-content.info-header .close-info {
      color: white; }
  .info-content.info-white {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0.625em;
    margin: 0.625em; }
  .info-content p {
    font-size: 0.875em;
    line-height: 1.75; }
  .info-content .close-info {
    position: absolute;
    right: 0.625em;
    bottom: -0.625em;
    color: #DDDDDD;
    font-size: 1.125em;
    text-transform: uppercase; }
    .info-content .close-info:after {
      position: relative;
      bottom: -0.125em;
      font-family: 'Glyphicons Halflings';
      content: '\e088';
      margin: 0 0 0 0.3125em; }

.image-info {
  margin-top: 30px;
  margin-bottom: 50px; }

.selected {
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 15px 0px #e7a61a;
  -moz-box-shadow: 0px 0px 15px 0px #e7a61a;
  -o-box-shadow: 0px 0px 15px 0px #e7a61a;
  box-shadow: 0px 0px 15px 0px #e7a61a; }

.pick, .enlarge {
  font-size: 0.875em; }

.image .image-choices {
  font-size: 14px; }

.pick {
  cursor: pointer !important; }

@media (max-width: 1400px) {
  .ekko-lightbox .modal-dialog {
    max-width: 700px !important; } }
.ekko-lightbox .modal-content {
  background-color: white;
  padding-top: 15px; }
.ekko-lightbox .modal-image-pick {
  font-size: 0.625em;
  border: 1px solid #DDD;
  color: #ddd;
  border-radius: 0 !important; }
  .ekko-lightbox .modal-image-pick:hover {
    border: 1px solid orange;
    color: orange; }
.ekko-lightbox .modal-image-close-btn {
  color: orange !important;
  font-weight: bold !important;
  margin: 0; }

.ekko-lightbox-container {
  padding: 20px; }

.ekko-lightbox .glyphicon-chevron-right {
  padding: 0 !important;
  color: black !important; }

.ekko-lightbox .glyphicon-chevron-left {
  padding: 0 !important;
  color: black !important; }

.notes-row {
  margin: 2.5em 0 3.75em 0;
  overflow: auto; }
  .notes-row textarea {
    border: 0;
    resize: none;
    width: 100%;
    padding: 0.625em;
    border: 0.1875em solid #DDD;
    border-radius: 0.625em; }
    @media screen and (max-width: 120em) {
      .notes-row textarea {
        height: 310px; } }
    @media screen and (max-width: 74.9375em) {
      .notes-row textarea {
        height: 250px !important; } }
    @media screen and (max-width: 48.0625em) {
      .notes-row textarea {
        height: 190px !important; } }
  .notes-row ::-webkit-input-placeholder {
    text-align: center; }
  .notes-row :-moz-placeholder {
    text-align: center; }
  .notes-row :-ms-input-placeholder {
    text-align: center; }

.questionnaire-form {
  margin-top: 1.25em; }

.questions {
  max-width: 50em;
  text-align: left;
  margin-bottom: 1.25em; }
  @media screen and (min-width: 62em) {
    .questions {
      margin: auto auto 1.25em auto; } }
  .questions .sub-text {
    font-size: 0.75em; }
  .questions section {
    margin-bottom: 1.25em; }
  .questions label.orange {
    font-size: 1.125em; }
  .questions input, .questions select {
    padding: 0.9375em;
    border: 0.0625em solid #DDD;
    border-radius: 0.3125em; }
  .questions input[type=checkbox], .questions input[type=radio] {
    width: 1.25em;
    height: 1.25em; }
  .questions #int2 {
    padding-left: 1.875em; }
  .questions .slider {
    margin-top: 0.625em; }
  .questions .slideramont {
    border: none;
    color: orange;
    font-weight: bold;
    background-color: #FFF; }
  .questions .ui-slider-handle {
    background-color: orange; }

.lbl-align-center {
  position: relative;
  top: -0.25em; }

.contextslist {
  padding: 20px;
  margin: 0.625em 0 0 0;
  border: 1px solid #DDD;
  border-radius: 0.625em; }

.contextcard {
  margin: 0.625em 0; }
  .contextcard label {
    width: 100%;
    text-align: center;
    color: #F7941E;
    background: white;
    -webkit-box-shadow: 0px 0px 15px 0px lightgray;
    -moz-box-shadow: 0px 0px 15px 0px lightgray;
    -o-box-shadow: 0px 0px 15px 0px lightgray;
    box-shadow: 0px 0px 15px 0px lightgray;
    border-radius: 1.25em;
    transition: all 0.2s ease-out; }
    .contextcard label p {
      margin: 0;
      padding: 1.25em 0 2.5em 0;
      font-size: 1.875em;
      font-weight: 400; }
      @media screen and (max-width: 74.9375em) {
        .contextcard label p {
          font-size: 1.625em !important;
          padding: 0.9375em 0 2.1875em 0; } }
      @media screen and (max-width: 62em) {
        .contextcard label p {
          font-size: 1.375em !important;
          padding: 0.3125em 0 1.875em 0; } }
    .contextcard label img {
      opacity: 1;
      padding: 0.3125em 0;
      width: 3.75em;
      transition: all 0.2s ease-out; }
      @media screen and (max-width: 74.9375em) {
        .contextcard label img {
          width: 1.875em; } }
      @media screen and (max-width: 62em) {
        .contextcard label img {
          width: 1.25em; } }
    .contextcard label small {
      opacity: 1;
      padding: 0.625em 1.25em; }
      @media screen and (max-width: 62em) {
        .contextcard label small {
          padding: 0em 0.625em; } }

.venn {
  width: 100%;
  max-width: 1000px;
  height: 60vh;
  min-height: 600px;
  max-height: 1000px;
  margin: 0 auto; }

.text {
  font-family: "museo-sans-rounded", sans-serif !important;
  fill: white !important;
  font-size: 1.45em !important; }
  @media screen and (max-width: 74.9375em) {
    .text {
      font-size: 1.0625em !important; } }

.text-title {
  font-family: "museo-sans-rounded", sans-serif !important;
  font-size: 1.2625em !important;
  vertical-align: middle !important;
  fill: #f39321 !important; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

#conference-page .svg-container {
  position: static;
  padding-bottom: 0; }

.holder {
  background: url(../img/circles.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .holder .cloud-holder {
    padding: 0; }

.toplogo {
  float: left;
  position: absolute;
  left: 5%;
  top: 5%; }

.formContainer {
  width: 100%;
  background: white;
  padding-top: 1%; }
  .formContainer input, .formContainer select {
    padding: 0.9375em;
    border: 0.0625em solid #DDD;
    border-radius: 0.3125em; }
  .formContainer input[type=checkbox], .formContainer input[type=radio] {
    width: 1.25em;
    height: 1.25em; }

#nationality, #gender, #interest {
  text-align: left;
  margin-bottom: 10px; }

.filterButtons {
  margin-top: 25px; }

#thankyou-header {
  margin-bottom: 2.5em; }
  #thankyou-header h2 {
    margin-bottom: 1.25em; }

#thankyou-products {
  margin-bottom: 2.5em; }
  #thankyou-products img {
    margin-bottom: 2.5em; }
  #thankyou-products #ourproducts {
    padding: 0.9375em;
    color: white;
    background-color: #ff6100; }

#thankyou-address p {
  text-align: left; }

/* Base */
/* ===========================
   Base
   =========================== */
html, body {
  overflow-x: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #4D4D4D;
  margin-bottom: 70px; }

a {
  color: black;
  font-weight: 500; }
  a:hover {
    color: black; }

::-moz-selection {
  background: black;
  color: #fff;
  text-shadow: none; }

::selection {
  background: black;
  color: #fff;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* ===========================
  Typography
  =========================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-rounded", sans-serif !important;
  font-weight: 100;
  margin-bottom: 1.25em;
  line-height: 1.5; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.75em; }

p.lead {
  font-size: 1.5em; }

.orange {
  color: orange; }

.black {
  color: black; }

/* Print */