.card.sortable {
  position: relative;
  z-index: 9999 !important;
//  display: inline-block;
  float: left;
  text-align: center;
  color: #F7941E;
  width: em(170);
  margin: em(10);
  background: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
     -moz-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
       -o-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
          box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
  border-radius: em(15);
  p {
    cursor: move;
    padding: em(35) 0;
    margin: 0;
    font-size: em(20);
    font-weight: 400;
  }
  img {
    position: absolute;
    opacity: 1;
    top: em(3);
    left: em(4);
    width: em(45);
  }
}

.droppable .card {
  z-index: 1 !important;
  width: 100%;
  margin: 0 0 em(-50) 0;
  @media screen and (max-width: em($medium-screen-up)) {
    margin: 0 0 em(-30) 0;
  }
  p {
    font-size: em(34);
    padding: em(30) 0;
    @media screen and (max-width: em($large-screen)) {
      padding: em(30) 0;
      font-size: em(28) !important;
    }
    @media screen and (max-width: em($medium-screen-up)) {
      padding: em(30) 0;
      font-size: em(18) !important;
    }
  }
  img {
    width: em(70);
    @media screen and (max-width: em($large-screen)) {
      width: em(50);
    }
    @media screen and (max-width: em($medium-screen-up)) {
      width: em(30);
    }
  }
}
