.card {

  margin: em(10) 0;
  label {
    position: relative;
    width: 100%;
    color: #F7941E;
    background: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
       -moz-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
         -o-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
            box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
    border-radius: em(15);
    p {
      font-size: em(20);
      font-weight: 400;
      margin: 0;
      padding: em(35) 0;
      @media screen and (max-width: em($large-screen)) {
        padding: em(33) 0;
        font-size: em(26) !important;
      }
      @media screen and (max-width: em($medium-screen-up)) {
        padding: em(30) 0;
        font-size: em(20) !important;
      }
    }
    img {
      opacity: 0;
      position: absolute;
      top: em(0);
      left: em(5);
      padding: em(5) 0;
      width: em(40);
//      transition: all 0.2s ease-out;
      @media screen and (max-width: em($large-screen)) {
        width: em(60);
        top: em(0);
        left: em(3);
      }
      @media screen and (max-width: em($medium-screen)) {
        width: em(40);
        top: em(0);
        left: em(5);
      }
    }
  }
  input {
    display: none;
  }
  input:checked + label {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(231,166,26,1);
       -moz-box-shadow: 0px 0px 15px 0px rgba(231,166,26,1);
         -o-box-shadow: 0px 0px 15px 0px rgba(231,166,26,1);
            box-shadow: 0px 0px 15px 0px rgba(231,166,26,1);
    img {
      opacity: 1;
    }
  }

  &.result {
    margin: 0 0 em(-50) 0;
    p {
      font-size: em(30);
      padding: em(35) 0;
      @media screen and (max-width: em($large-screen)) {
        padding: em(33) 0;
        font-size: em(26) !important;
      }
      @media screen and (max-width: em($medium-screen-up)) {
        padding: em(33) 0;
        font-size: em(20) !important;
      }
    }
    img {
      opacity: 1;
      width: em(70);
      @media screen and (max-width: em($large-screen)) {
        width: em(60);
      }
      @media screen and (max-width: em($medium-screen-up)) {
        width: em(40);
      }
    }
  }

  &.image {
    label {
      border: none !important;
      border-radius: 0;
      img {
        width: 100%;
        display: block;
        border-radius: em(10);
      }
    }
    input:checked + label {
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  &.context {
    label {
      width: 100%;
      text-align: center;
      color: #F7941E;
      background: white;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
         -moz-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
           -o-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
              box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
      border-radius: em(20);
//      transition: all 0.2s ease-out;
      p {
        padding: em(30) 0 em(30) 0;
      }
    }
  }

}

.card-row {
  margin: em(40) 0 em(60) 0;

  @media screen and (max-height: em($small-screen-up)) {
    margin: 0;
  }

}