#conference-page {
  .svg-container {
    position:static;
    padding-bottom:0;
  }
}

.holder {
  background: url(../img/circles.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .cloud-holder {
    padding: 0;
  }
}

.toplogo {
  float: left;
  position:absolute;
  left:5%;
  top:5%;
}

.formContainer{
  width: 100%;
  background: white;
  padding-top: 1%;

  input, select {
    padding: em(15);
    border: em(1) solid #DDD;
    border-radius: em(5);
  }

  input[type=checkbox], input[type=radio] {
    width: em(20);
    height: em(20);
  }
}

#nationality, #gender, #interest {
  text-align:left;
  margin-bottom:10px;

}

.filterButtons {
  margin-top:25px;
}