.contextscontainer {

}

.contextslist {
  padding:20px;
  margin: em(10) 0 0 0;
  border: 1px solid #DDD;
  border-radius: em(10);
}

.contextcard {
  margin: em(10) 0;
  label {
    width: 100%;
    text-align: center;
    color: #F7941E;
    background: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
    -o-box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
    box-shadow: 0px 0px 15px 0px rgba(211,211,211,1);
    border-radius: em(20);
    transition: all 0.2s ease-out;
    p {
      margin: 0;
      padding: em(20) 0 em(40) 0;
      font-size: em(30);
      font-weight: 400;
      @media screen and (max-width: em($large-screen)) {
        font-size: em(26) !important;
        padding: em(15) 0 em(35) 0;
      }
      @media screen and (max-width: em($medium-screen-up)) {
        font-size: em(22) !important;
        padding: em(5) 0 em(30) 0;
      }
    }
    img {
      opacity: 1;
      padding: em(5) 0;
      width: em(60);
      transition: all 0.2s ease-out;
      @media screen and (max-width: em($large-screen)) {
        width: em(30);
      }
      @media screen and (max-width: em($medium-screen-up)) {
        width: em(20);
      }
    }
    small {
      opacity: 1;
      padding: em(10) em(20);
      @media screen and (max-width: em($medium-screen-up)) {
        padding: em(0) em(10);
      }
    }
  }

}