.image-info {
  margin-top: 30px;
  margin-bottom: 50px;
}

.selected {
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(231, 166, 26, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(231, 166, 26, 1);
  -o-box-shadow: 0px 0px 15px 0px rgba(231, 166, 26, 1);
  box-shadow: 0px 0px 15px 0px rgba(231, 166, 26, 1);
}

.pick, .enlarge {
  font-size: em(14);
}

.image {
  .image-choices {
    font-size: 14px;
  }
}

.pick {
  cursor: pointer !important;
}

.ekko-lightbox {

  .modal-dialog {
    @media (max-width: 1400px) {
      max-width: 700px !important;
    }

  }
  .modal-content {
    background-color: white;
    padding-top: 15px;

  }

  .modal-image-pick {
    font-size: em(10);
    border: 1px solid #DDD;
    color: #ddd;
    border-radius: 0 !important;

    &:hover {
      border: 1px solid orange;
      color: orange;
    }
  }

  .modal-image-close-btn {
    color: orange !important;
    font-weight: bold !important;
    margin: 0;
  }
}

.ekko-lightbox-container {
  padding: 20px;
}

.ekko-lightbox .glyphicon-chevron-right {

  padding: 0 !important;
  color: black !important;

}

.ekko-lightbox .glyphicon-chevron-left {

  padding: 0 !important;
  color: black !important;

}