.notes-row {
  margin: em(40) 0 em(60) 0;
  overflow: auto;
  textarea {
    border:0;
    resize: none;
    width: 100%;
    padding:em(10);
    border: em(3) solid #DDD;
    border-radius: em(10);

    @media screen and (max-width: em($ultra-large-screen)) {
      height: 310px;
    }
    @media screen and (max-width: em($large-screen)) {
      height: 250px !important;
    }
    @media screen and (max-width: em($small-screen-up)) {
      height: 190px !important;
    }


  }
  ::-webkit-input-placeholder {
    text-align:center;
  }
  :-moz-placeholder {
    text-align:center;
  }
  :-ms-input-placeholder {
    text-align:center;
  }
}