.impact {

  border: 1px solid #DDD;
  border-radius: em(10);
  padding-bottom: em(80);
  .impact-title {
    color: #F7941E;
    margin: em(5) 0 0 0;
    font-size: em(30);
    font-weight: 300;
    text-align:center;
  }
  .droppable {

    @media screen and (min-width: em($large-screen)) {
      .card {
        img {
          width: 3em !important;
          left: 0.1em !important;
        }
        p {
          font-size: 1.5em !important;
          padding: 2em 0 !important;
        }
      }
    }


    height: auto;
    min-height: 50vh;
    padding: em(30);
    .ui-sortable-placeholder {
      width: 100%;
      visibility: visible !important;
      border: em(2) dashed #DDD;
      border-radius: em(10);
      height: em(140);
      @media screen and (max-width: em($small-screen)) {
        height: em(100);
      }
      .ui-draggable-dragging:not(.ui-sortable-placeholder) {
        z-index: 99 !important;
      }
    }
  }
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
