.top15 {
  margin-top:15px;
}
.info {

  cursor:pointer;
  color: #AAA;
  padding: em(4) 0;
  font-weight: 100;
  border-bottom: em(1) dotted #AAA;
  &:active,
  &:focus {
    color: #AAA;
  }
  &.collapsed {
    color: $clr-orange;
  }
  &.info-header {
    color: white;
    &.collapsed {
      color: white;
    }
  }
  &:before {
    font-family: 'icomoon';
    content: '\e600';
  }
}

.info-content {
  text-align: left;
  padding: em(30);
  margin: em(20);
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

  background: #EFF;
  border-radius: em(10);
  border: em(1) solid #DDD;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
     -moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
          box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
  &.info-header {
    background: none;
    border: em(1) solid #AAA;
    box-shadow: none;
    .close-info {
      color: white;
    }
  }
  &.info-white {
    background: none;
    border: none;
    box-shadow: none;
    padding: em(10);
    margin: em(10);
  }
  p {
    font-size: em(14);
    line-height: 1.75;
  }
  .close-info {
    position: absolute;
    right: em(10);
    bottom: em(-10);
    color: #DDDDDD;
    font-size: em(18);
    text-transform: uppercase;
    &:after {
      position: relative;
      bottom: em(-2);
      font-family: 'Glyphicons Halflings';
      content: '\e088';
      margin: 0 0 0 em(5);
    }
  }
}