.modal {
  .modal-header {
    padding: em(5) !important;
    border:0;

    button span {
      color:orange;
      font-size:25px;
      font-weight:bold;

    }

  }
  .modal-footer {
    border:0;
    text-align:center;
  }
  .modal-body {
    text-align:center;

    .lead {
      margin-bottom:0;
    }

  }

  .modal-content {
    border-radius: em(15) !important;
  }

  .modal-next-context {
    background-color:orange;
    color:white;
    padding-right:em(40);
    padding-left:em(40);
  }


  .modal-dialog {
    max-width: em(800) !important;
    @media screen and (max-width: em($large-screen)) {
      max-width: em(700) !important;
    }
  }
  .btn-modal {
    border-radius: 0 0 em(10) em(10) !important;
  }
}
