.browser-notice {
  height: 120vh;
  width: 100vw;
  z-index: 99999;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  padding: em(200) 0 0 0;
  color: white;
  text-align: center;
  background-image: url('../img/circles.jpg');
  background-size: cover;
  @media screen and (max-width: em($small-screen-down)) {
    display: block;
  }
}