.preloader {
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  .spinner {
    margin: 30% auto;
    display: block;
  }
}


// Here is where the magic happens

.spinner { animation: rotation 1.8s linear infinite; }

$offset: 187;

.path {
  stroke: $clr-orange;
  border-color: $clr-orange;
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  animation: dash 3.2s ease infinite;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
    stroke: $clr-orange;
  }
  25% {
    stroke-dashoffset: -$offset;
    stroke: $clr-orange;
  }
  50% {
    stroke-dashoffset: -$offset * 2;
    stroke: $clr-orange;
  }
  75% {
    stroke-dashoffset: -$offset * 3;
    stroke: $clr-orange;
  }
  100% {
    stroke-dashoffset: -$offset * 4;
    stroke: $clr-orange;
  }
}