.progress-holder {
 position: relative;
 margin: em(20) 0 0 0;
 border-bottom: em(2) solid #DDD;
 .circle {
  width: em(43);
  height: em(43);
  padding: em(8);
  position: absolute;
  bottom: em(-21);
  display: inline-block;
  color: #DDD;
  background: white;
  border-radius: em(40);
  border: em(2) dashed #DDD;
  @for $i from 0 through 7 {
   $z: 11.5 * $i;
   &:nth-child(#{$i}) {
    left: #{$z}%;
   }
  }
  &.complete {
   color: white;
   background: #DDD;
   border-color: #DDD;
  }
  &.active {
   color: white;
   background: #F7941E;
   border-color: #F7941E;
  }
 }
}