.questionnaire-form {
  margin-top: em(20)
}

.questions {
  max-width: em(800);
  text-align: left;
  margin-bottom: em(20);
  @media screen and (min-width: em($medium-screen-up)) {
    margin: auto auto em(20) auto;
  }

  .sub-text {
    font-size: em(12);
  }

  section {
    margin-bottom: em(20);
  }

  label.orange {
    font-size: em(18);
  }

  input, select, {
    padding: em(15);
    border: em(1) solid #DDD;
    border-radius: em(5);
  }

  input[type=checkbox], input[type=radio] {
    width: em(20);
    height: em(20);
  }

  #int2 {
    padding-left: em(30);
  }

  .slider {
    margin-top: em(10);
  }
  .slideramont {
    border: none;
    color: orange;
    font-weight: bold;
    background-color: #FFF;
  }

  .ui-slider-handle {
    background-color: orange;
  }
}

.lbl-align-center {
  position: relative;
  top: em(-4);
}
