html.results {

  height: 100%;

  body {
    height:100%;
  }

  .wrap {
    min-height: 100%;
    position: relative;
  }

  .l-content {
    padding-bottom: em(70);
  }

  .l-footer {
    height: em(70);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}

.results-slider {
  display: block;
  width: 100%;
  .slide {
    margin: auto;
    display: block;
    width: 100% !important;
    overflow: hidden;
    > .row {
      margin: em(20);
    }
    h2 {
      margin: 0;
    }
    ul {
      list-style: disk;
      margin: em(10) 0;
      li {
        padding: em(5) 0;
      }
    }
  }
  .arrows {
    position: relative;
    .arrow {
      padding: em(1);
      width: em(28);
      position: absolute;
      top: em(250);
      z-index: 999;
      color: #CCC;
      background-color: rgba(170, 170, 170, 0.8);
      font-size: em(24);
      border-radius: em(30);
      &.arrow-left {
        left: em(20);
        &:before {
          color: white;
          font-family: 'Glyphicons Halflings';
          content: "\e079";
          font-weight: 100;
        }
      }
      &.arrow-right {
        right: em(20);
        &:before {
          color: white;
          font-family: 'Glyphicons Halflings';
          content: "\e080";
          font-weight: 100;
        }
      }
    }
  }

  #shop {
    margin-top: 20px;
  }
  #shopbtn {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-top: 50px;

  }

  #get-in-touch {
    margin-top: 50px;
  }

  #social-links {
    margin-top: 20px;
    @media screen and (max-width: em($small-screen)) {
      font-size: em(11);
    }

    a {
      color: inherit;
    }
  }

  #mail-icon {
    width: 50px;
    height: 40px;
  }

  #twitter-icon {
    width: 50px;
    height: 40px;
  }
  #atmybestinfo {
    margin-top: 50px;
  }

  #result-image {

  }

  #result-note {
    text-align: left;
  }
  #result-stacked-cards {
    padding-bottom: 100px;
  }

}