#sticky-nav {
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
  height: em(70);
  padding-top: em(15);
  margin: 0 !important;
  overflow-x: hidden;
  background-color:#FFF;
  border-top: 1px solid #DDD;
}

.shortlist {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  margin: 0 !important;

  > h3 {
    margin: 0;
    padding: 0 em(15);
    color: white;
  }
  .cards {
    width: em(3000);
    overflow-x: hidden;
    margin: 0 em(10);
  }
  .counter {
    color: white;
    text-align: center;
    margin: em(5) 0;
    img {
      width: em(20);
    }
    .count {
      font-weight: bold;
    }
  }
  .card {
    box-shadow: none !important;
  }
}

.fixed-elements {
  overflow:initial;
}

//.sticky-bottom {
//  z-index: 99;
//  background-color:#FFF;
//  position: fixed;
//  bottom: 0;
//  width: 100%;
//  left:0;
//  transition: all 0.2s linear;
//  &.shortlist {
//    background-color: rgba(0, 0, 0, 0.5);
//    bottom: em(70);
//    h3 {
//      margin-bottom: em(-5);
//    }
//    .counter {
//      color: white;
//      text-align: center;
//      margin: em(5) 0;
//      img {
//        width: em(20);
//      }
//      .count {
//        font-weight: bold;
//      }
//    }
//    .card {
//      box-shadow: none;
//    }
//  }
//}