#thankyou-header {
  margin-bottom:em(40);

  h2 {
    margin-bottom:em(20);
  }
}

#thankyou-products {

  img {
    margin-bottom:em(40);
  }

  #ourproducts {
    padding:em(15);
    color:white;
    background-color: #ff6100;
  }
  margin-bottom:em(40);


}

#thankyou-address {

  p {
    text-align:left;
  }

}