.venn {
  width: 100%;
  max-width: 1000px;
  height: 60vh;
  min-height: 600px;
  max-height: 1000px;
  margin: 0 auto;
}

.text {
  font-family: "museo-sans-rounded", sans-serif !important;
  fill: white !important;
  font-size: em(23.2) !important;

  @media screen and (max-width:em($large-screen)){
    font-size: em(17) !important;
  }

}

.text-title {
  font-family: "museo-sans-rounded", sans-serif !important;
  font-size: em(20.2) !important;
  vertical-align: middle !important;
  fill: rgb(243, 147, 33) !important;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}