.cloud-holder {
  position: relative;
  margin: 0 0 em(200) 0;
  .background {
    position: relative;
    opacity: 0.5;
    width: 100%;
  }
  .cloud {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.conference {
  .cloud-holder {
    height: 100vh;
    .cloud {
      height: 100vh;
    }
  }
}