@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?n1w1t2');
	src:url('fonts/icomoon.eot?#iefixn1w1t2') format('embedded-opentype'),
		url('fonts/icomoon.woff?n1w1t2') format('woff'),
		url('fonts/icomoon.ttf?n1w1t2') format('truetype'),
		url('fonts/icomoon.svg?n1w1t2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lightbulb:before {
	content: "\e600";
}

